@import url('font.css');

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  color: black;
  background: linear-gradient(135deg, #e0f7fa, #fff9c4);
}
#content {
  font-size: 1.6rem;
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.userInput {
  margin-bottom: 4rem;
}
label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 2rem;
}
input {
  font-size: 2rem;
  border: 2px solid black;
  border-radius: 0.4rem;
  padding: 0.2rem 0.6rem;
}
.weather-card {
  padding: 1rem 2rem;
  border: 2px solid black;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  width: max(400px, 40%);
  background-color: #e3f2fd;
  color: #0d47a1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.weather-card .main-info {
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
.weather-card h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
}
.weather-card .main-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  width: 100%;
}
.location-div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
.location-div .change-unit {
  color: white;
  background-color: #0d47a1;
  font-size: 2rem;
  font-weight: 500;
  padding: 0 0.3rem;
  border-radius: 1rem;
  border: 2px solid black;
  transition: 0.15s ease-in-out;
  cursor: pointer;
}
.location-div .change-unit:hover {
  background-color: #003688;
}
.location-div .change-unit:active {
  background-color: #00183b;
}

.main-info .left-side {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.main-info .left-side img {
  width: 60px;
}
.main-info .left-side #temperature {
  display: flex;
  font-size: 4rem;
  font-weight: 600;
}
.main-info .left-side #temperature #unit {
  font-size: 2rem;
}

.main-info .right-side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.secondary-info {
  font-size: 2rem;
}

.upcoming-days {
  background-color: #90caf9;
  border: 2px solid #0d47a1;
  margin-top: 3rem;
  width: max(400px, 40%);
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid black;
  padding: 2rem 1rem;
  border-radius: 2rem;
}
.weather-card,
.upcoming-days {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.upcoming-day-card {
  background-color: #bbdefb;
  color: #0d47a1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 30%;
  border: 2px solid black;
  border-radius: 2rem;
  padding: 0.3rem 1.5rem;
  font-size: 1.8rem;
  transition: 0.15s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.upcoming-day-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.upcoming-day-card img {
  width: 80px;
}
.upcoming-day-card .upcoming-temp {
  font-size: 2.2rem;
  font-weight: 600;
}
